<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side code -->
                    <div class="col-md-12 col-12  main_header_left">
                        <figure class="errimg">
                            <img src="img/404.png" alt="Me" class="img-fluid" title="Dev Sharma">
                        </figure>
                        <p>Welcome to Weather app</p>
                        <h1>
                            {{errorMsg}}
                        </h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>