<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side code -->
                    <div class="col-md-6 col-12  main_header_right">
                        <figure>
                            <img src="img/about.png" alt="Me" class="img-fluid" title="Dev Sharma">
                        </figure>
                    </div>
                    <!-- left side code -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>
                            I am a <span class="text_clr">Full Stack Developer</span> and Trader.
                        </h1>
                        <a href="https://github.com/Dev-Sharma-197" target="_black"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>